.headerContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px 25px;
  border-bottom: 1px solid var(--border-color);
}

.ecometerHeadingContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex: 1;
  padding: 0px 16px;
  margin: 0px 16px;
  border-left: 1px solid var(--border-color);
  gap: 16px;
}

.ecometerHeadingh1 {
  font-family: "Inter", serif;
  font-size: 16px;
  line-height: 24px;
  color: var(--primary-color);
}

.ecometerHeadingp {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: var(--primary-color);
}

/* Media Queries for Mobile Responsiveness */
@media (max-width: 300px) {
  .headerContainer {
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
  }

  .ecometerHeadingContainer {
    flex-direction: column;
    align-items: flex-start;
    margin: 0;
    padding: 10px 0;
    border-left: none;
    gap: 8px;
  }

  .ecometerHeadingh1 {
    font-size: 14px;
    line-height: 20px;
  }

  .ecometerHeadingp {
    font-size: 10px;
    line-height: 12px;
  }

  .CedaHeaderIcon {
    width: 200px;
    height: auto;
  }

  .CloseIcon {
    align-self: flex-end;
  }
}
